# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual Environment
.venv/
venv/
env/

# Django
*.log
db.sqlite3

# IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db
desktop.ini

# Environment variables
.env
.env.*
